# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Pipenv
Pipfile
Pipfile.lock

# Poetry
poetry.lock
poetry.toml

# Pyre type checker
.pyre/

# Test and coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
coverage/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
target/

# PyBuilder
target/

# IPython/Jupyter
.profile_default/
.ipynb_checkpoints
.ipynb

# pyenv
.python-version

# Celery stuff
celerybeat-schedule.*
celerybeat.pid

# SageMath parsed files
*.sage.py

# dotenv
.env
.env.*

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# FastAPI specific
*.sqlite
*.sqlite3


*.josn